*,
::after,
::before {
  box-sizing: border-box;

  transition-property: background-color, transform, box-shadow, color, opacity,
    visibility, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// * {
//   transition-property: background-color, transform, box-shadow, color, opacity,
//     visibility, border;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

body {
  font-family: Roboto, sans-serif;
  font-size: $primary-font-size;
  letter-spacing: $primary-letter-spacing;
  line-height: $primary-line-height;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  padding-left: 75px;
  padding-right: 75px;
  width: 1200px;
  margin: 0 auto;

  /* ---------------------- */

  // width: 100vw;
  // padding-left: 20px;
  // padding-right: 20px;
  // margin: 0 auto;

  // @include mob {
  //   width: 480px;
  // }

  // @include tab {
  //   padding-left: 34px;
  //   padding-right: 34px;
  //   width: 768px;
  // }

  // @include desk {
  //   padding-left: 75px;
  //   padding-right: 75px;
  //   width: 1200px;
  // }
}

.link {
  display: block;
  text-decoration: none;
  color: $primary-text-color;
}

.input {
  outline: none;
}

.list {
  padding: 25px 30px;
  list-style: square;
}

.info__list {
  padding: 0px 30px;
}

.button {
  padding: 0;

  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;

  background-color: transparent;
}

@keyframes animation-btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
