.additional-name__text {
    font-weight: 500;
    color: $title-background-color;
    margin-bottom: 2px;
}

.additional-date__text {
    font-size: 12px;
    margin-bottom: 8px;
}

.additional__text {
    font-weight: 500;
}