.generall__container {
  display: flex;
  flex-wrap: wrap;

  margin-top: -10px;
  margin-left: -10px;
}

.grid {
  margin-left: 10px;

  width: auto;
  flex-basis: calc((100% - 20px) / 2);
}

.title {
  padding: 5px 8px;

  text-transform: uppercase;
  font-size: $title-font-size;
  
  background-color: $title-background-color;
  color: white;
}
