.hero__container {
  display: flex;
  align-items: center;
}

.hero__image {
  margin-right: 30px;
}

.hero-general__container {
  text-align: end;
}

.hero__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__text {
  font-size: 20px;
}

.hero__text {
  margin-bottom: 10px;
}
