.hero__container {
  display: flex;
  align-items: center;
}

.hero__image {
  margin-right: 30px;
}

.hero-text__container {
  text-align: end;
}

.hero__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__text {
  font-size: 20px;
  margin-bottom: 15px;
}

.hero-summary__title {
  margin-bottom: 30px;
}

// .hero-summary__text {
//   padding: 15px;
// }
